<div class="ui clearing segment">
    <h3 class="ui right floated header">
        <i class="user circle outline icon"></i>
        <div class="content" id="navbar_content">
            <span id="userNameId">{{name}} - {{surname}}</span>
            <div class="sub header"><span>{{currency}}</span>$</div>
        </div>
    </h3>

    <h3 class="ui left floated header">
        <a href="home.html">
            <i class="home icon"></i>
            <div class="content">
                HOME
                <div class="sub header">Go back to home page</div>
            </div>
        </a>
    </h3>
</div>

<script src="js/navbar.js"></script>
